<div class="edit-container">
    <form method="POST" class="profile-info">
        <input type="hidden" name="_csrf" value="{{csrfToken}}"> {{!-- for csrf protection --}}
        <input type="text" name="firstname" id="firstname" placeholder="first name" value="{{firstname}}" required>
        <input type="text" name="lastname" id="lastname" placeholder="last name" value="{{lastname}}" required>
        <input type="text" name="email" id="email" placeholder="email" value="{{email}}" required>
        <input type="number" name="age" placeholder="age" value={{age}}>
        <input type="text" name="city" placeholder="city" value="{{city}}">
        <input type="text" name="webpage" placeholder="webpage" value={{url}}>
        <input type="submit" value="Update">


    </form>
</div>